@{
    ViewBag.Title = "About";
}

<!DOCTYPE html>
<html>
<head>
    <style>
        ul {
            display: block;
            list-style-type: disc;
            margin-top: 1em;
            margin-bottom: 1em;
            margin-left: 0;
            margin-right: 0;
            padding-left: 40px;
        }
    </style>
</head>
<body>
    <div class="text-center">
        <h1 class="display-4">About</h1>
    </div>

    <p>Student Information:</p>

    <ul>
        <li>Name: Sampedro, James Paul B.</li>
        <li>Age: 20</li>
        <li>Section: BSIT31E1</li>
        <li>Course: Bachelor of Science Major in Information Technology</li>
        <li>Email: thisisemail@gmail.com</li>
        <li>Contact #: 09123456789</li>
    </ul>
</body>
</html>